@font-face {
 font-family: RobotoLight;
 src: local('RobotoLight'), local('RobotoLight'),
 url('/fonts/RobotoLight/Robotolight.woff2') format('woff2'),
 url('/fonts/RobotoLight/Robotolight.woff') format('woff'),
 url('/fonts/RobotoLight/Robotolight.ttf') format('truetype');
 font-weight: 300;
 font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: local('Roboto'), local('Roboto'),
    url('/fonts/Roboto/Roboto.woff2') format('woff2'),
    url('/fonts/Roboto/Roboto.woff') format('woff'),
    url('/fonts/Roboto/Roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
 }